.Bin nav {
 background-color: white;
 padding: 3px 0 3px 0;
 display: flex;
}

.Bin nav .BinSelectedName {
 flex: 15%;
}

.Bin nav .BinNav .btn {
 background-color: white;
 transition: all 0.2s;
 box-shadow: 1px 1px 2px;
 border-style: none;
 padding: 3px;
}

.Bin nav .BinNav .btn:hover {
 background-color: silver;
}

.Bin nav .BinNav button img {
 width: 20px;
}

@media screen and (min-width:1000px) {
 .Bin nav .BinNav {
  flex: 85%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 100px);
  justify-content: center;
 }
}

@media screen and (max-width:1000px) {
 .Bin nav .BinNav {
  flex: 85%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 55px);
  justify-content: center;
 }
}